*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.fullArea{
   min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: #FAFAFA;
    
}
nav{
    width: 100%;
    position: fixed;
    font-size: 13px;
    gap: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 30px;
}
nav .nav-infos{
    display: flex;
    gap: 10px;
}
nav .btn1{
    border-radius: 20px;
    border: 1px solid black;
    font-size: 10px;
    padding: 5px 20px;
    cursor: pointer;
    background-color: white;
}
.top{
    position: absolute;
    top: 80px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: end;
}
.top-infos{
 width: 33%;
   line-height: 25px;

}
.top-infos h2{
    font-weight: 530;
    font-size: 25px;
    margin-bottom: 10px;
    width: 120px;  
    line-height: 35px;
}
.top-infos p{
    font-size: 13px;
}
.btn2{
    padding: 7px 25px;
    border-radius: 20px;
    border-style: none;
    background-color: #835944;
    color: white;
    font-size: 10px;
}
.center{
    position: absolute;
    background-color: #835944;
    width: 100%;
    height: 400px;
   left: 10px;
    right: 10px;
    top: 33%;
   
}
.center img{
    width: 50%;
    height: 400px;
    object-fit: cover;
}
form{
    background-color: #FEFBFA;
    width: 280px;
    min-height: 320px;
    position: absolute;
    right: 15%;
    top: 10%;
    padding: 15px;
    font-size: 12px;
    border-radius: 10px;
    
}
.form-infos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.input {
    display: flex;
    flex-direction: column; 
    width: calc(50% - 10px);
}
.input label {
    margin-bottom: 5px;
}

.input input {
    padding: 3px 10px;  
    height: 30px;    
    border: 1px solid #ccc;
    border-radius: 4px;
    border: 1px solid black;
}
