*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.fullArea{
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: #FAFAFA;
}
nav{
    width: 100%;
    position: fixed;
    font-size: 13px;
    gap: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 30px;
}
nav .nav-infos{
    display: flex;
    gap: 10px;
}
nav button{
    border-radius: 20px;
    border: 1px solid black;
    font-size: 10px;
    padding: 5px 20px;
    cursor: pointer;
    background-color: white;
}
.top{
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 80px;
    padding: 10px;
    border: 2px solid black;
}
.top-infos{
    width: 24%;
   line-height: 25px;
}
.top-infos h2{
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 10px;
}
.top-infos p{
    font-size: 13px;
}
.btn{
display: flex;
justify-content: end;
align-items: end;
padding: 5px 20px;
border-style: none;
border-radius: 20px;
background-color: #835944;
cursor: pointer;
color: white;
}