*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fullArea{
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: #FAFAFA;
}
nav{
    width: 100%;
    position: fixed;
    font-size: 13px;
    gap: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 30px;
}
nav .nav-infos{
    display: flex;
    gap: 10px;
}
.nav button{
    
}